<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="{% url 'empleados_app:inicio' %}">Empleados</a></li>
        <li class="menu-text">
          <a href="{% url 'empleados_app:empleados_all' %}">Listar</a>
        </li>
        <li class="menu-text"><a href="{% url 'departamentos_app:lista_departamento' %}">Departamentos</a></li>
        <li class="menu-text"><a href="{% url 'empleados_app:empleados_admin' %}">Administrar</a></li>
        <li class="menu-text"><a href="{% url 'departamentos_app:nuevo_departamento' %}">Nuevo Departamento</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar Empleado"></li>
        <li><a href="{% url 'empleados_app:empleado_add' %}" class="button">Registrar Nuevo</a></li>
      </ul>
    </div>
  </div>